<div class="row">
	<div id="showcase" class="alpha sixteen columns">
		<!-- Each child div in #showcase with the class .showcase-slide represents a slide. -->
		<% Spree::Slide.last_five.each do |slide| %>
			<div class="showcase-slide">
				<div class="showcase-content">
					<%= image_tag slide.image %>
				</div>
				<div class="showcase-thumbnail">
					<%= image_tag slide.image.url(:thumb) %>
					<div class="showcase-thumbnail-caption"><%= slide.thumbnail_message %></div>
					<div class="showcase-thumbnail-cover"></div>
					<!-- Put the caption content in a div with the class .showcase-caption -->
					<div class="showcase-caption">
						<h2>Be creative. Get Noticed!</h2>
					</div>
				</div>
			</div>
		<% end %>
		
	</div>
</div>
	
